*{
    background-image: linear-gradient(to right, #ebc0fd , #d9ded8 );
}
.dpbtn{
background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
color:white;
padding: 16px;
font-size:16px;
border:none;
cursor: pointer;
}
.dpbtn:hover, .dpbtn:focus{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.dropdown {
    position:relative;
    display: inline-block; 
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a: hover